.profile-content-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.profile-left,
.profile-center,
.profile-right {
  flex: 1;
  display: flex;
  flex-direction: column;
 
}